:host {
  display: flex;
  flex-wrap: wrap;
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  color: var(--main-text-color);
}

currency-item:not(:first-of-type){
  margin-left: 15px;
}

currency-item:not(:first-of-type):before {
  content: '=';
  position: absolute;
  margin-left: -15px;
  color: var(--light-decoration-color);
  font-weight: 100;
}

.currency-selector {
  display: flex;
  align-items: center;
  border-radius: var(--base-border-radius);
  margin: var(--base-spacing);
  background-color: var(--light-background);
  color: var(--light-text-color);
  transition: background-color var(--transition-time), color var(--transition-time);
}

.currency-selector:hover {
  color: var(--main-text-color);
  background-color: var(--main-background);
}

.currency-selector select {
  background: transparent;
  border: none;
  padding: var(--base-spacing);
  border-radius: 0 4px 4px 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  color: inherit;
  cursor: pointer;
}

.currency-selector label {
  padding: var(--base-spacing) 0 var(--base-spacing) var(--base-spacing);
}
