:host {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--main-background);
  margin: var(--base-spacing);
  border-radius: var(--base-border-radius);
  align-items: center;
  color: var(--main-text-color);
  --input-length: 3ch;
  position: relative;
}

:host input {
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  width: var(--input-length);
  min-width: 3ch;
  background-color: var(--main-background);
  padding: var(--base-spacing);
  border-radius: 0 4px 4px 0;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-appearance: textfield;
  box-shadow: none;
  outline: none;
  transition: width var(--transition-time);
  color: var(--main-text-color);
}

:host input::-webkit-outer-spin-button,
:host input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host label {
  padding: var(--base-spacing);
  background-color: var(--main-background);
  border-radius: 0 4px 4px 0;
}

:host .remove {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: white;
  border: 1px solid var(--main-background);
  color: var(--light-decoration-color);
  right: -7px;
  top: -7px;
  cursor: pointer;
  line-height: 13px;
  text-align: center;
  font-weight: 100;
  visibility:hidden;
  opacity:0;
  transition:visibility var(--transition-time),opacity var(--transition-time);
}

:host(:hover) .remove {
  visibility:visible;
  opacity:1;
}